*{
  margin: 0;
  padding: 0;
}
body{
  font: 18px 'Helvetica Neue', Helvetica, Arial, sans-serif
}
.left{
  float: left;
}
.right{
  float: right;
  margin-left: 6px;
  margin-right: 2px;
}
h3 {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  font-size: 28px
}
.top {
  width: 100%;
  height: 40px;
  background-color: #8f28d4
}
.top-center {
  width: 40%;
  margin: 0 auto
}
.content{
  width: 40%;
  margin: 0 auto;
  margin-top: 5px;
}
#inp{
  width: 99%;
  height: 30px;
  outline: 0;
  border: 1px solid #ccc
}

.list{
  margin: 0;
  list-style: none;
}

.list li div{
  position: relative;
  font-size: 16px;
  border-bottom: 1px solid #ededed
}

.toggle {
  text-align: center;
  width: 40px;
  height: auto;

  position: absolute;
  top: 5px;
  bottom: 0;

  margin: auto 0;
  border: 1;
}

.list li label {
  white-space: pre-line;
  word-break: break-all;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  transition: color .4s
}

.list .done {
  color: #d9d9d9;
  text-decoration: line-through
}

.list li .destroy {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
}